@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');

body {
  background-color: #ffffff;
  font-family: "Mozilla Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

form > * {
  margin-bottom: 2px;
}

h3 {
  margin: 1px 5px 1px 5px;
}

#formInputs > * {
  display: flex;
  flex-direction: column;
}

.previewDetails {
  width: 60%;
}

.generalPreview,
.skillPreview,
.educationPreview {
  display: flex;
  flex-direction: column;
}

.educationPreview > .details,
.skillPreview > .details {
  display: flex;
  flex-direction: row;
}

.generalPreview > .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.generalPreview > .details > div {
  display: flex;
  flex-direction: row;
}

.educationPreview > .details {
  display: flex;
  flex-direction: column;
}

input:invalid {
  border: 1px solid #FF6F00;
}

input:valid {
  border: 1px solid #0f62Fe;
}
