@import url("https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap");

body {
  background-color: #d0d0d0;
  font-family: "Mozilla Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 1vh 1vw;
}

form {
  width: 39%;
  background-color: #ffffff;
  display: flex;
  margin: .5%;
  padding: .5%;
  border: 1px #161616 solid;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
}

.formRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formRow > * {
  margin: 1% 5% 0 5%;
}

#skillButton {
  margin-top: 9%;
}

.rmv {
  height: 1rem;
  width: auto;
}

.labelRow,
.buttonRow {
  margin: 0.5% 2.5% 0 2.5%;
}

.buttonRow {
  display: flex;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 1px 5px 1px 5px;
}

.formInputs > * {
  display: flex;
  flex-direction: column;
}

button {
  width: fit-content;
  height: fit-content;
}

button:hover {
  background-color: #be95ff;
}

input:invalid {
  border: 1px solid #ff6f00;
}

input:valid {
  border: 1px solid #0f62fe;
}

.previewDetails {
  width: 59%;
  margin: .5%;
  padding: .5%;
  border: 1px #161616 solid;
  border-radius: 5px;
  background-color: #ffffff;
}

.generalPreview,
.skillPreview,
.educationPreview {
  display: flex;
  flex-direction: column;
}

.educationPreview > .details,
.skillPreview > .details {
  display: flex;
  flex-direction: row;
}

.generalPreview > .details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.generalPreview > .details > div {
  display: flex;
  flex-direction: row;
}

.educationPreview > .details {
  display: flex;
  flex-direction: column;
}

