body {
  background-color: gray;
}

#preview {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#formInputs > * {
  display: flex;
  flex-direction: column;
}

.previewDetails {
  width: 60%;
}
